* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "title";
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}

body {
    display:flexbox;
    justify-content: center;
    min-height: 350vh;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(251, 243, 243, 1) 50%);
    align-items: center;

}


header{
    position: sticky;
    top: 0;
    padding: 1.5rem 0; 
    width: 100%;
    margin:0px 0;
    background-color: #F5F5F5;
    box-shadow: 3px 0 10px #adadad;
}


.Tugrade-Logo {
    margin: 30px 10px;
    padding: 30px 90px;
    background-image: url("../assets/images/TUGrade_logo.png");
    background-size: cover;
}
.line-head{
    padding: 10px 20px;
    border-left: 2px solid #A43531;
    font-size: 100px;
    color: #A43531;
}
.Menu{
    position: absolute;
    right: 10px;
    padding: 0 10px;
    color: black
}
.Menu li{
    display: inline;
    /* margin-right: 30px; */
    cursor: pointer;
}
p, .Tugrade-Logo,.line-head ,.Menu{
    display: inline;
    font-size: 20px;
}

.Profile-head {
    margin: 30px;
    text-align: center;
}
.Profile{
    height: 150px;
    display: flex;
    justify-content: center;
}
.Profile-pic{
    height: 100%;
    width: 150px;
    border: 2px solid;
    border-radius: 100px;
}
.Professor-info{
    padding: 10px 10px;
    text-align: center;
}
.Email, .Office-room, .Note {
    width: 50%;
    margin-left: 25%;
    padding: 20px 20px;
    display: flex;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #F0E2E2;
    
}
.Office-room p,.Email p, .Note p{
    width: 350px;
    font-size: 16px;
}
.Email-icon, .Office-icon {
    margin-right: 10px;
    display: inline;
}